body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #383737;
}

.background {
  margin-top: 40px;
  padding: 50px 0;
  width: 1100px;
  background-color: #dddddd;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.form-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 50px 0;
  width: 950px;
  background-color: #dddddd;
  min-height: 80vh;
}

header {
  margin: 0px auto 40px auto;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.input-area input {
  margin-top: 6px;
  width: 200px;
  height: 30px;
  font-size: 1.1rem;
  border-radius: 4px;
}

.error-label{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 5px;
  color: #ff3b30;
}

input:focus,
select:focus,
button:focus {
  outline-width: 0px;
  border-color: #007aff;
  outline-color: #007aff;
}

.save-button {
  margin-top: 5px;
  width: 100px;
  background-color: white;
  border: solid 1px #dddddd;
  font-size: 1.1rem;
  height: 30px;
  border-radius: 4px;
}

select {
  width: 158px;
  width: 206px;
  height: 35px;
  font-size: 1.1rem;
  border-radius: 4px;
}

select:hover {
  cursor: pointer;
}

button:hover {
  background-color: #007aff;
  color: white;
  cursor: pointer;
}

.sort-area {
  margin-bottom: 20px;
  font-weight: bold;
  padding: 8px;
}

.sort-area select {
  width: auto;
  margin: 0 8px 0 0;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  min-height: 52vh;
  font-size: 1.1rem;
  /* background-color: white; */
}
.table table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: white;
}

th {
  border-bottom: solid 1.5px #383737;
  background-color: #dddddd;
  font-weight: bold;
}

i {
  color: #383737;
}

.fa-pen:hover {
  color: #007aff;
}

.fa-trash:hover {
  color: #ff3b30;
}

.addButton{
  margin: 25px auto;
  padding: 5px 10px;
  width: fit-content;
  background-color: white;
  border: solid 1px #dddddd;
  font-size: 1.1rem;
  /*height: 30px;*/
  border-radius: 4px;
}

.addButton:hover{
  background-color: rgb(48, 209, 88);
  color: white;
}

.addButton:hover i{
  color: white;
}

.abort-button{
  margin-top: 5px;
  width: 100px;
  background-color: white;
  border: solid 1px #dddddd;
  font-size: 1.1rem;
  height: 30px;
  border-radius: 4px;
}

.abort-button:hover{
  background-color: #ff3b30;
}

a {
  color: #383737;
  text-decoration: none;
}

a:visited {
  color: #383737;
}

a:hover {
  color: #007aff;
}

.input-error{
  background-color: #ff3b30;
}
